<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tom Cariello's Portfolio</title>
    
    <link rel="stylesheet" type="text/css" href="/public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">

    {{!-- Open graph settings --}}
    <meta property="og:url" content="http://tomcariello.herokuapp.com/index"/>
    <meta property="og:title" content="Tom Cariello"/>
    <meta property="og:description" content="Springbok Puzzles and Portfolio."/>
    <meta property="og:image" content="http://tomcariello.herokuapp.com/public/images/profile.jpg"/>
  </head>
  
  <body>
    <div class="container">
      <header>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/index">Tom Cariello</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                {{#if dynamicData.administrator}}
                  <li><a href="/adminportal">Admin</a></li>
                {{/if}}
                <li><a href="/index">About</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/puzzles"><i class="fas fa-puzzle-piece"></i> Puzzles</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      {{{ body }}}

      <footer class="navbar-default navbar-settings">
        <div class="footer-content" id="footer-div"></div>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/public/scripts/scripts.js"></script>
  </body>
</html>