<section class="main">
  <div class='row'>
    <div class="col-sm-12 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Administrative Portal</h3></div>
        <div class="panel-body">
          <div class='row'>
              <div class="row adminPortalRow">
                <a href="adminaboutme">
                  <div class="adminPortalIcons col-sm-2">
                    <i class="fas fa-user-alt fa-4x"></i>
                  </div>
                  <div class="col-sm-10">
                    <h2>Update 'About Me' Page</h2>
                  </div>
                </a>
              </div>
              <div class="row adminPortalRow">
                <a href="adminportfolio">
                  <div class="adminPortalIcons col-sm-2">
                    <i class="fas fa-briefcase fa-4x"></i>
                  </div>
                  <div class="col-sm-10">
                    <h2>Update 'Portfolio' Page</h2>
                  </div>
                </a>
              </div>
              <div class="row adminPortalRow">
                <a href="blogmanagement">
                  <div class="adminPortalIcons col-sm-2">
                    <i class="fab fa-blogger-b fa-4x"></i>
                  </div>
                  <div class="col-sm-10">
                    <h2>Manage Blog</h2>
                  </div>
                </a>
              </div>
              <div class="row adminPortalRow">
                <a href="viewmessages">
                  <div class="adminPortalIcons col-sm-2">
                    <i class="fas fa-envelope fa-4x"></i>
                  </div>
                  <div class="col-sm-10">
                    <h2>View Messages</h2>
                  </div>
                </a>
              </div>
          </div>
        </div>    
      </div>
    </div>
  </div>
</section>