<section class="main">
  <div class='row'>
    <div class="col-sm-12 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Login</h3></div>
        <div class="panel-body">
          <div class='row'>
            <div class="aboutme">
              <form action="login" method="POST">
                <p>E-mail:</p><input type="text" id="email" name="email"  placeholder="example@gmail.com" required />
                <p>Password:</p><input type="password" id="password" name="password" required />
                <p><button class="blueButton" type="submit">Submit</button></p>
              </form>
            
            </div>
          </div>
        </div>    
      </div>
    </div>
  </div>
</section>