<section class="main">
  <div class='row'>
    <div class="col-sm-12 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Register at TomCariello.com</h3></div>
        <div class="panel-body">
          <div class='row'>
            <div class="aboutme">
              <h2>Register</h2>
              <form action="register" method="POST">
                <p>First Name:</p><input type="text" id ="firstname" name="firstname" placeholder="John">
                <p>Last Name:</p><input type="text" id ="lastname" name="lastname" placeholder="Smith">
                <p>E-mail:</p><input type="text" id="email" name="email" placeholder="example@gmail.com">
                <p>Password:</p><input type="password" id="password" name="password" placeholder="example@gmail.com">
                <p>Confirm Password:</p><input type="password" id="confirmpassword" name="confirmpassword"  placeholder="example@gmail.com">
                <p><button type="submit" id="submitButton">Submit</button></p>
              </form>
            
            </div>
          </div>
        </div>    
      </div>
    </div>

<div class="col-sm-12 col-md-4">
      <div class="connect">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>Connect with Me</h5>
          </div>
          <div class="panel-body">
            <div class="row">

              <div id="github" class="col-xs-4 socialMenu">
                <a href="https://github.com/Tomcariello" target="_blank"><img class="socialButtons" src="public\images\github.png" alt="github"></a>
              </div>
              <div id="linkedin" class="col-xs-4 socialMenu">
                <a href="http://www.linkedin.com/in/tom-cariello" target="_blank"><img class="socialButtons" src="public\images\linkedin.png" alt="Linkedin"></a>
              </div>
              <div id="resume" class="col-xs-4 socialMenu">
                <a href="https://drive.google.com/open?id=1ndua-vF5tXVHote5v0WAwMv2IiARfDJo" target="_blank"><img class="socialButtons" src="public\images\resume.jpg" alt="Resume"></a>
              </div>
            </div>
          </div>
        </div>    
      </div>
    </div>
  </div>
</section>